<h1>About The Jungle</h1>
<p>The Jungle is a passion project aimed to spread the joy and life that plants can bring into any home.</p>
<p>Our website offers a range of houseplants. We have everything from plants for begginers to the most advanced plant parents.</p>